In [1]:
#Addition
15 + 32

47

In [2]:
#Subtraction
241-92

149

In [3]:
#Multiplication 
8*13

104

In [4]:
#Division 
13/20

0.65

In [5]:
#Exponents, using the carat symbol does not work
3**7

2187

In [6]:
#Orders of Opperation
(45 * 3) - (42/2)

114.0

In [7]:
#use equal sign instead of left assign
my_dogs = 2

In [8]:
my_dogs = ['Billie', 'Birdie']

In [9]:
my_dogs

['Billie', 'Birdie']

In [10]:
#Variable name = expression
variable = 50

In [11]:
variable

50

In [12]:
variable = variable + 10

In [13]:
variable

60

In [14]:
#Shorthand for variable = variable + 10
variable += 10

In [15]:
variable

70

In [16]:
variable *=2

In [17]:
variable

140

In [19]:
type(variable)

int

In [20]:
type(2.3)

float

In [21]:
s = 'text'

In [22]:
type(s)

str

In [23]:
#Booleans = True or False
t = True
f = False
type(f)

bool

In [24]:
#Strings can have single or double quotes
'hello'

'hello'

In [25]:
"Hello"

'Hello'

In [26]:
#used len() rather than nchar to count characters in string
len("Hello World")

11

In [27]:
print("This is printed text using print()")

This is printed text using print()

In [31]:
#In R, sprintf
print('The class {} begins at {}' .format('CS590', '1:30PM'))

The class CS590 begins at 1:30PM

In [32]:
print('The class %s begins at %s'%('CS590', '1:30PM'))

The class CS590 begins at 1:30PM

In [33]:
string1 = 'CS590'
string2 ='1:30PM'
print('The class %s begins at %s'%(string1, string2))

The class CS590 begins at 1:30PM

In [34]:
#List - variable =[]
my_list = [1,2,3]

In [35]:
type(my_list)

list

In [36]:
my_list = ['string', 15, 100.23, 'Text']

In [37]:
my_list

['string', 15, 100.23, 'Text']

In [38]:
#Indexing begins @ 0 in python
my_list[0]

'string'

In [39]:
my_list[1:]

[15, 100.23, 'Text']

In [40]:
#Everything except the last number
my_list[:-1]

['string', 15, 100.23]

In [42]:
#Pull last element 
my_list[-1]

'Text'

In [43]:
#Take stepwise elements (every other in this case)
my_list[::2]

['string', 100.23]

In [44]:
#Reverse order 
my_list[::-1]

['Text', 100.23, 15, 'string']

In [45]:
my_list += ["new item"]

In [46]:
my_list

['string', 15, 100.23, 'Text', 'new item']

In [47]:
#method .format() using print function
list1 = [1,2,3]

In [48]:
list1.append('append me!')

In [49]:
list1

[1, 2, 3, 'append me!']

In [50]:
list1.pop(0)

1

In [51]:
list1

[2, 3, 'append me!']

In [52]:
new_list = ['a','x','c','z','b']

In [53]:
new_list

['a', 'x', 'c', 'z', 'b']

In [54]:
new_list.sort()

In [55]:
new_list

['a', 'b', 'c', 'x', 'z']

In [56]:
new_list.reverse()

In [57]:
new_list

['z', 'x', 'c', 'b', 'a']

In [60]:
ls1 = [1,2,3]
ls2 = [4,5,6]
ls3 = [7,8,9]
matrix = [ls1, ls2, ls3]

In [63]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [64]:
matrix[0]

[1, 2, 3]

In [65]:
matrix[1][2]

6

In [66]:
my_dict ={'key1':'value1', 'key2':'value2', 'key3':'value3'}

In [67]:
my_dict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [68]:
my_dict['key1']

'value1'

In [69]:
my_dict ={'key1':123, 'key2':[12,23,33], 'key3':['item0', 'item1']}

In [70]:
my_dict['key3'][1]

'item1'

In [71]:
my_dict['key1'] = my_dict['key1'] -123

In [76]:
my_dict['key1']

-123

In [75]:
my_dict['key1'] -= 123

In [77]:
my_dict['animal'] = 'Dog'

In [78]:
my_dict

{'key1': -123,
 'key2': [12, 23, 33],
 'key3': ['item0', 'item1'],
 'animal': 'Dog'}

In [80]:
d = {'key1':{'nestedkey':{'subnestkey':'value_sub'}}}

In [81]:
d['key1']['nestedkey']['subnestkey']

'value_sub'

In [82]:
my_dict.keys()

dict_keys(['key1', 'key2', 'key3', 'animal'])

In [84]:
my_dict.values()

dict_values([-123, [12, 23, 33], ['item0', 'item1'], 'Dog'])

In [85]:
my_dict.items()

dict_items([('key1', -123), ('key2', [12, 23, 33]), ('key3', ['item0', 'item1']), ('animal', 'Dog')])

In [86]:
#Create imutable tuple, which is defined with parentheses instead of lists which use []
t = (1,2,3)

In [87]:
t = ('one', 2)

In [88]:
t[0]

'one'

In [89]:
t[0] ='change'

TypeError: 'tuple' object does not support item assignment

In [90]:
t.append('change')

AttributeError: 'tuple' object has no attribute 'append'

In [91]:
s = 'Hello World'

In [92]:
s + ' Again'

'Hello World" Again'

In [94]:
s.lower()

'hello world"'

In [95]:
s.upper()

'HELLO WORLD"'

In [96]:
s.split()

['Hello', 'World"']

In [97]:
s.split('W')

['Hello ', 'orld"']

In [98]:
x = set()

In [100]:
x.add(1)

In [101]:
x

{1}

In [102]:
x.add(2)

In [104]:
x

{1, 2}

In [103]:
x.add(1)

In [105]:
x

{1, 2}

In [106]:
list1 = [1,1,1,1,4,4,4,3,2,2,2,1]

In [107]:
#function that is run on a list, returns unique values
set(list1)

{1, 2, 3, 4}