In [1]:
#Import Libraries
import os
import numpy as np
import pandas as pd

In [3]:
os.getcwd()

'C:\\Users\\segraha3\\Desktop\\CS590'

In [5]:
#Read in peanut_lines
peanut_lines = pd.read_csv('peanut_lines.csv', encoding='ISO-8859-1')

In [6]:
#Check head of files
peanut_lines.head()

    NC_Accession Identity or Parentage Pedigree    FAG
0  ACI WT09-0761         ACI WT09-0761      NaN  Check
1  ACI WT11-0351         ACI WT11-0351      NaN  ol ol
2  ACI WT12-0226         ACI WT12-0226      NaN  ol ol
3  ACI WT12-0419         ACI WT12-0419      NaN  Check
4  ACI WT12-0420         ACI WT12-0420      NaN  ol ol

In [8]:
#Number of peanut_lines
peanut_lines.info()
#Number of unique entries
peanut_lines['NC_Accession'].nunique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 859 entries, 0 to 858
Data columns (total 4 columns):
NC_Accession             466 non-null object
Identity or Parentage    466 non-null object
Pedigree                 409 non-null object
FAG                      466 non-null object
dtypes: object(4)
memory usage: 26.9+ KB

463

In [10]:
#read in peanut_yield
peanut_yield = pd.read_csv('peanut_yield.txt', sep='\t', encoding='ISO-8859-1')

In [13]:
#Get column names for peanut_yield
list(peanut_yield.columns.values)

['Year', 'Location', 'Name', 'Label', 'NC_Accession', 'Plot_Yield', 'Yield']

In [16]:
#Merge data frames on NC_Accession keeping all of peanut_yield (Left outer join)
peanut_data = pd.merge(peanut_yield, peanut_lines, how = 'left', on = 'NC_Accession')

In [21]:
#Group by year and get means
by_year = peanut_data.groupby('Year')
by_year.mean()

      Plot_Yield        Yield
Year
2010    7.508470  2270.745902
2011   11.873512  3591.779762
2012   11.610753  3512.265233
2013   10.958824  3315.434641
2014   13.937624  4216.112211
2015   16.135644  4880.762376
2016   10.317582  3121.659341
2017   13.161333  3981.600000
2018   11.975667  3623.333333

In [31]:
#Sort by yield
descending = peanut_data.sort_values(by='Yield', ascending=False)
top10 = descending.head(10)
#Get mean yield of top 10 lines
top10['Yield'].mean()

8619.3

In [39]:
#value_counts by accession
list_top = peanut_data['NC_Accession'].value_counts()
common10 = list_top.head(10)

In [53]:
#Create new df with subset of data that match conditions
line_data = peanut_data[((peanut_data['Location']=='LEW')|(peanut_data['Location'] == 'RMT'))&((peanut_data['NC_Accession']=='Bailey')|(peanut_data['NC_Accession']=='Sullivan')|(peanut_data['NC_Accession']=='Wynne')|(peanut_data['NC_Accession']=='Emery')|(peanut_data['NC_Accession']=='Bailey II')|(peanut_data['NC_Accession']=='N14023'))]

In [56]:
#groupby accession and get means
line_means = line_data.groupby('NC_Accession').mean()

                Year  Plot_Yield        Yield
NC_Accession
Bailey        2014.0   12.533333  3791.000000
Bailey II     2015.0   13.950000  4221.571429
Emery         2014.0   16.561111  5008.111111
N14023        2016.0   15.430000  4667.200000
Sullivan      2014.0   12.611111  3815.388889
Wynne         2014.0   13.516667  4091.888889

In [59]:
#Export to excel
line_means.to_excel('NCSU_release.xlsx', index=False)