In [1]:
#R is a glorified calculator with basic math
3+5

[1] 8

In [2]:
#Subtraction 
8-3

[1] 5

In [3]:
#Multiplication
12*5

[1] 60

In [4]:
#Division
4/9

[1] 0.4444444

In [5]:
#Exponents
8^2

[1] 64

In [6]:
#Exponents
8**2

[1] 64

In [7]:
#Modulo, outputs the remainer of the division (Helps with even vs. odds)
5%%2

[1] 1

In [8]:
#Order of opperations
(100 *2) + (50/2)

[1] 225

In [11]:
#Assigning variables 
#name <- expression
variable.name <- 50
variable.name

[1] 50

In [18]:
#variables using arithmatic
bank.account <- 100

In [19]:
deposit <-10

In [20]:
bank.account <- bank.account + deposit

In [21]:
bank.account

[1] 110

In [22]:
#datatypes in R
#numeric - floating point value
n <- 2.2

In [23]:
#numeric - integer
i <- 5

In [24]:
#Logical - Booleans (TRUE and FALSE)
t <- TRUE
f <- FALSE

In [25]:
#Character values -string
char <- "Hello World"

In [26]:
c <- 'Single Quotes Work Too'

In [27]:
#check the datatype using class function
#it is a build it function
class(n)

[1] "numeric"

In [29]:
nchar("Hello World")

[1] 11

In [30]:
print(char)

[1] "Hello World"

In [31]:
#Print to console with formating
s <- 'Printed Text'

In [33]:
sprintf('This string will include %s', s)

[1] "This string will include Printed Text"

In [34]:
sprintf('This string will include %s', 'additional text')

[1] "This string will include additional text"

In [35]:
string1 <- 'attitional text'
string2 <- 'at the end'
string3 <- 'of the sentance'
sprintf('This sting will include %s %s %s', string1, string2, string3)

[1] "This sting will include attitional text at the end of the sentance"

In [36]:
toupper('Hello World')

[1] "HELLOWORLD"

In [37]:
tolower(char)

[1] "hello world"

In [40]:
strsplit('Hello World', " ")

[[1]]
[1] "Hello" "World"

In [41]:
nvec <- c(1,2,3,4,5)

In [42]:
nvec

[1] 1 2 3 4 5

In [43]:
class(nvec)

[1] "numeric"

In [44]:
cvec <- c("N", "c", "s", "U")

In [45]:
class(cvec)

[1] "character"

In [46]:
lvec <- c(TRUE, FALSE)

In [47]:
class(lvec)

[1] "logical"

In [50]:
#data types cannot be mixed within vectors
v <- c(TRUE, 2)

In [51]:
v

[1] 1 2

In [52]:
class(v)

[1] "numeric"

In [53]:
v <- c("A", 1)

In [54]:
v

[1] "A" "1"

In [55]:
ilist <- list("A", 1, TRUE)

In [56]:
ilist

[[1]]
[1] "A"

[[2]]
[1] 1

[[3]]
[1] TRUE

In [57]:
class(ilist)

[1] "list"

In [ ]:
#Assigning names to vectors

In [58]:
temps1 <- c(73,78,76,83,69,83,89)

In [59]:
temps1

[1] 73 78 76 83 69 83 89

In [61]:
names(temps1) <- c('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')

In [62]:
temps1

   Monday   Tuesday Wednesday  Thursday    Friday  Saturday    Sunday
       73        78        76        83        69        83        89

In [63]:
days <- c('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')
temps2 <- c(42,52,97,92,71,94,32)

In [65]:
names(temps2) <- days

In [66]:
temps2

   Monday   Tuesday Wednesday  Thursday    Friday  Saturday    Sunday
       42        52        97        92        71        94        32

In [68]:
#Vector Opperations
v1 <- c(1,2,3)
v2 <- c(5,6,7)

In [69]:
v1 + v2

[1]  6  8 10

In [70]:
v2-v1

[1] 4 4 4

In [71]:
v1*v2

[1]  5 12 21

In [72]:
v1/v2

[1] 0.2000000 0.3333333 0.4285714

In [73]:
sum(v1)

[1] 6

In [76]:
V <- c(12, 45, 100,2)
sd(V)
var(V)
max(V)
min(V)

[1] 44.16918

[1] 1950.917

[1] 100

[1] 2

In [77]:
prod(v1)

[1] 6

In [78]:
##Comparison Opperators
#Greater than or Less Than
5 > 6

[1] FALSE

In [79]:
6 > 5

[1] TRUE

In [80]:
v1 < v2

[1] TRUE TRUE TRUE

In [81]:
#Greater than or equal to
6 >= 5

[1] TRUE

In [82]:
#Compare if values are equal using ==
#Not equal use !=
5 == 6
5 != 6

[1] FALSE

[1] TRUE

In [83]:
v1 < 2

[1]  TRUE FALSE FALSE

In [84]:
v1 <- c(100,200, 300)
v2 <- c('a','b','c')

In [85]:
#Indexing in R starts at 1 rather than 0
v1[1]

[1] 100

In [86]:
v1[1:2]

[1] 100 200

In [87]:
v1[c(1,3)]

[1] 100 300

In [88]:
#everything but the first one
v1[-1]

[1] 200 300

In [89]:
v <- c(1,2,3,4,5,6,7,8,9,10)
v[3:6]

[1] 3 4 5 6

In [91]:
v <- c(1,2,3,4)
names(v) <- c('a','b','c','d')

In [92]:
v['b']

b
2

In [93]:
v[c('d','c','b', 'a')]

d c b a
4 3 2 1

In [94]:
##Filtering Values
v>2

    a     b     c     d
FALSE FALSE  TRUE  TRUE

In [95]:
v[v>2]

c d
3 4

In [96]:
filter <- v>2

In [97]:
v[filter]

c d
3 4